.body-aboutUs{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 7%;
  
    margin-right: 2%;
    margin-left: 2%;
    height: 100%;
    border: 1px solid white;
    padding:10px;
    animation: aparecerDesdeIzquierda 0.5s ease-out forwards;
    
}
.aboutUs{
    display: block;
    text-align: start;
    width: 50%;
  
    padding: 15px;
}
.aboutUs span{
    color: rgb(255, 0, 0);
}
.body-aboutUs-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    

 
}
.body-aboutUs-img img{
    width: 400px;
    height: 400px;
    border-radius: 10px;

}
@media screen and (max-width: 900px) {
    .aboutUs{
        display: block;
        text-align: center;
        width: 100%;
      text-justify:distribute;
        padding: 15px;
    
        
    }
    .body-aboutUs-img img{
        width: 300px;
        height: 300px;
    
    }
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(1.1) rotateY(180deg);
              transform: scale(1.1) rotateY(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
  
  @keyframes aparecerDesdeIzquierda {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.animation-aboutus{
  
  animation: aparecerDesdeIzquierda 0.5s ease-out forwards;
}