.body-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    
    height: 100%;
    background-color: rgb(176, 176, 176);

}
.grids-inputs{
    width: 70%;
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
   gap: 10px;
   margin-bottom: 100px;
    
}
.grids-inputs input:nth-child(5){
    grid-column: 1  / span 2;
}

.grids-inputs input.input1{
    height: 25px;
}
.grids-inputs input.input2{
    height: 100px;
}.grids-inputs input.input2::placeholder{
    height: 100px;
    position: absolute;
    top:0
}
@media screen and (max-width: 500px) {
    .grids-inputs{
        width: 80%;
        display:grid;
        grid-template-columns: 1fr;
       gap: 10px;
        
    }
    .grids-inputs input:nth-child(5){
        grid-column: 1  / span 1;
    }
}