.body-pickUs{
    display: block;
    text-align: center;
 
   
    height: 100%;   
    background:linear-gradient(to bottom, #000000, #f6f6f6);
    padding:10px

}
.body-pickUs h1{
    color:white;

}
.options{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.option{
width: 300px;
height: 400px;
margin: 10px;
padding :20px;
background:linear-gradient(to bottom, #f6f6f6, #666666);
    border: 0.001px solid #d1d1d1 ;
padding:20px;
border-radius: 5%;

}
.option h2{
    text-align: center;

}
.option h4{
    text-align: justify;
}
.option img{
   border-radius: 50%;
    width: 120px;
    height: 120px;
}
@media screen and (max-width: 800px) {
  .body-pickUs{
    display: block;
    text-align: center;
 
   
    height: 100%;   
    background:linear-gradient(to bottom, #000000, #f6f6f6);
    padding:10px

}
    .options{
        justify-content: center;
        
    }}



    @keyframes aparecerDesdeDerecha {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    .animation-pick{
   
      
      animation: aparecerDesdeDerecha 0.5s ease-out forwards;
    }