.body-reviews{
  display:flex;
  flex-direction: column;
  justify-content: center;
  
    height: 110vh;
    background:linear-gradient(to bottom, #f6f6f6, #666666);

}
.body-reviews h3{
    text-align: center;
}
.body-reviews h4{
  color: white;
}
.body-reviews span{
color:red
}
.reviews{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.review{
padding: 10px;
display: block;
width: 350px;
height: 150px;
padding:10px;
border-radius: 5%;

}
.review{
    text-align: start;
}

.contact{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}
.review h5{
    

}
.review h4{
   

}
.social-media{
    display: flex;
    width: 100%;
    justify-content: end;
  
}

@media screen and (max-width: 1200px) {
  .body-reviews{
    display:flex;
    flex-direction: column;
    justify-content: center;
     height: 100%;
     background:linear-gradient(to bottom, #f6f6f6, #666666);
 }
    .reviews{
        justify-content: center;
        
    }
    .review{
       
        width: 350px;
        height: 200px;
        margin: 10px;
        
    }

}
@keyframes aparecerDesdeIzquierda {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.animation-reviews{
  
  animation: aparecerDesdeIzquierda 0.5s ease-out forwards;
}