.body-services{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    height: 100vh;
    padding:10px
    
}
.services{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap ;
    width: 100%;
    height: 100%;

}
.service{
  display: flex;
  flex-direction: column;
    width: 300px;
    height: 250px;
    padding:20px;
    border-radius: 10px;
    border-radius: 5%;
    background:linear-gradient(to bottom, #f6f6f6, #666666);
    border: 0.001px solid #d1d1d1 ;

}
.service h2{
text-align:start;
}
.service h1{
  margin-top: -7px;
  color:red;
  font-size: 4rem;
}
.service h5{
  text-align: justify;
  color: #262626
}
.service p{
  color:white;
  margin-top: -22px;
}
.services h4{
    width: 100%;
    height: 120px;
    
}
@media screen and (max-width: 1200px) {
    .services{
        justify-content: center;
        
    }
    .body-services{
      display: block;
      text-align: center;
      margin-top: 1%;
      margin-right: 2%;
      margin-left: 2%;
      height: 100%;
      
      padding:10px
      
  }
    .service{
       
      width: 300px;
      height: 250px;
      margin: 10px;
        
    }

}
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }


  @keyframes aparecerDesdeDerecha {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    .animation-services{
      
      animation: aparecerDesdeDerecha 0.5s ease-out forwards;
    }