.body-services{
    display: block;
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    height: 100%;
    
    padding:10px
    
}
.services{
    display: flex;
    justify-content: space-between;

    flex-wrap:wrap ;
    width: 100%;
    height: 100%;

}
.service{
    border: 1px solid blue;
    width: 350px;
    height: 300px;
    padding:10px;
    border-radius: 10px;
    border-radius: 10%;
    box-shadow: 3px 10px 10px rgba(255, 255, 255, 0.2);
   

}
.services h4{
    width: 100%;
    height: 120px;
    
}
@media screen and (max-width: 1200px) {
    .services{
        justify-content: center;
        
    }
    .service{
       
        width: 350px;
        height: 350px;
        margin: 10px;
        
    }

}
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }


  @keyframes aparecerDesdeDerecha {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    .animation-services{
      
      animation: aparecerDesdeDerecha 0.5s ease-out forwards;
    }